aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-socks==0.11.0
aiosignal==1.4.0
asyncpg==0.31.0
attrs==25.4.0
beautifulsoup4==4.14.3
frozenlist==1.8.0
idna==3.11
lxml==6.0.2
multidict==6.7.1
propcache==0.4.1
soupsieve==2.8.3
typing_extensions==4.15.0
uvloop==0.22.1
yarl==1.22.0
